.category_bar{
    position:absolute;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
    background-color: #ffffff;
    top: 160px;
    left: 140px;
    width: 1640px;
    height: 79px;
    z-index:0;
    margin-top: 0;

}

.category_bar_item{
    /* top: 160px; */
    /* left: 140px; */
    display:flex;
    align-items:center;
    font-family: 'NanumSquare', sans-serif;
    font-size: 27px;
    color:#BDBDBD;
    text-align: center;
    justify-content: center;
    margin-right: 16px;
    z-index:1;
    padding-top: 5px;
    padding-bottom:5px;
}
.category_bar_item:nth-child(1){
    width: 260px;
    height: 79px;
}
.category_bar_item:nth-child(2){

    width: 260px;
    height: 79px;
}

.category_bar_item:nth-child(1):hover::after {
    content: '';
    position: absolute;
    top: 0px;
    /* left: 330px; */
    width: 260px;
    height: 79px;
    display: flex;
    align-items: center;
    margin-top: -8px;
    border-bottom: 8px solid #7333FF;
}
.category_bar_item:nth-child(2):hover::after {
    content: '';
    position: absolute;
    top: 0px;
    /* left: 330px; */
    width: 260px;
    height: 79px;
    display: flex;
    align-items: center;
    margin-top: -8px;
    border-bottom: 8px solid #7333FF;
}
.category_bar_item:hover{
    color: #7332FF;
    transition: all 0.15s ease-in-out;
}