footer{
    position: absolute;
    color: white;
    white-space: nowrap;
    display:flex;
    margin: 0;
    justify-content: center;
    /* height: 53px; */
}

.footer--detail{
    top: 1075px;
    left: 805px;
    width: 310px;
    height: 66px;
    background-color: #BDBDBD;
    color:#FFFFFF;
    font-size: 11px;

}

.footer--common{
    /* font-size: 11px; */
    top: 1037px;
    left: 0px;
    width: 1920px;
    height: 180px;  
    background-color: #000000;  
    text-align: center;
    align-items:flex-start;


}

#footer--company_name{
    font-size: 16px;
    top: 1217px;
    left: 0px;
    width: 1920px;
    height: 80px;
    align-items: center;
    justify-content: flex-end;
}
#footer--email{
    font-size: 16px;
    top: 1217px;
    left: 0px;
    width: 1920px;
    height: 80px;
    align-items: center;
    justify-content: flex-end;
}

.footer_second_page_only{
    position: absolute;
    font-size: 11px;
    background-color:#BDBDBD;
    color: white;
    white-space: nowrap;
    display:flex;
    text-align: center;
    align-items:center;
    margin: 0;
    justify-content: center;
    top: 1037px;
    left: 0px;
    width: 1920px;
    height: 180px;
}
.footer_common{
    position: absolute;
    background-color:#000000;
    color: white;
    white-space: nowrap;
    display:flex;
    text-align: center;
    align-items:center;
    margin: 0;
    /* justify-content: flex-end; */
    top: 1217px;
    left: 0px;
    width: 1920px;
    height: 80px;
}
.company_name{
    font-size: 16px;
    padding-right: 10px;
    
}
.email{
    font-size: 11px;
}
