@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
.third_page{
    font-family: 'NanumSquare', sans-serif;
}


#third_page_bg_img{
    position:absolute;
    top: 2355px;
    left: 263px;
    width: 1477px;
    height: 1244px;
    z-index: 1;
}
#third_page_line_img{
    position:absolute;
    top: 2953px;
    left: 622px;
    width: 1039px;
    height: 646px;
    z-index: 0;
}

.third_page_title h1{
    position:absolute;
    top: 2636px;
    left: 1119px;
    width: 336px;
    height: 88px;
    font-size: 80px;
    font-weight: 800;
    /* padding: 0%; */
}

.third_page_content h2{
    position: absolute;
    top: 2750px;
    left: 1119px;
    width: 648px;
    height: 35px;
    font-size: 32px;
    margin-top: 50px;
}