@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
.fourth_page{
    font-family: 'NanumSquare', sans-serif;    
}
#fourth_page_line_img{
    position:absolute;
    top: 3591px;
    left: 184px;
    width: 1739px;
    height: 23px;
    z-index: 0;
}
/* #vary_of_developer{

} */
#fourth_page_bg_img{
    position:absolute;
    top: 3405px;
    left: -390.365234375px;
    width: 2292px;
    height: 1689px;
    z-index: 0;
    /* vertical-align: bottom; */
}

#vary_of_developer h1{
    position:absolute;
    top: 3496px;
    left: 280px;
    width: 384px;
    height: 88px;
    font-size: 80px;
    font-weight: 800;
    z-index: 1;
    margin-top: 0;
    margin-left: 0;

}
#fourth_page_box_img{
    position: absolute;
    top: 3544px;
    left: 1060px;
    width: 117px;
    height: 117px;   
}
#category_network {
    position:absolute;
    top: 4207px;
    left: 280px;
    width: 255px;
    height: 35px;
    font-size: 32px;
    font-weight: 800;

}
#category_ERP {
    position:absolute;
    top: 4747px;
    left: 280px;
    width: 284px;
    height: 35px;
    font-size: 32px;
    font-weight: 800;
    white-space: nowrap;

}
.button{
    position: absolute;
    font-size: 27px;
    border-radius: 30px;
    background-color:#7332FF;
    color: white;
    /* line-height: 53px; */
    white-space: nowrap;
    display:flex;
    text-align: center;
    align-items:center;
    margin: 0;
    left: 275px;
    justify-content: center;
    height: 53px;
    font-weight: 550;
}
.button:nth-of-type(1){
/* .button:nth-child(1){} */
    top: 3641px;
    width: 196px;
}

.button:nth-of-type(2){
    top: 3790px;
    width: 222px;
}
.button:nth-of-type(3){
    top: 3949px;
    width: 248px;
}
.button:nth-of-type(4){
    top: 4064px;
    width: 260px;
}
.button:nth-of-type(5){
    top: 4265px;
    width: 91px;
}
.button:nth-of-type(6){
    top: 4382px;
    width: 147px;
}
.button:nth-of-type(7){
    top: 4581px;
    width: 99px;
}
.button:nth-of-type(8){
    top: 4811px;
    width: 147px;

}
.button:nth-of-type(9){
    top: 4945px;
    width: 74px;
}

.button_explain{
    position: absolute;
    color: #525252;
    font-size: 20px;    
    white-space: nowrap;
}
.button_explain:nth-of-type(1){
    top: 3710px;
    left: 280px;
    width: 699px;
    height: 70px;    
}

.button_explain:nth-of-type(2){
    top: 3860px;
    left: 280px;
    width: 727px;
    height: 69px;
}
.button_explain:nth-of-type(3){
    top: 4018px;
    left: 280px;
    width: 540px;
    height: 22px;    
}
.button_explain:nth-of-type(4){
    top: 4127px;
    left: 277px;
    width: 366px;
    height: 22px;
        
}
.button_explain:nth-of-type(5){
    top: 4334px;
    left: 280px;
    width: 453px;
    height: 22px;    
}
.button_explain:nth-of-type(6){
    top: 4450px;
    left: 280px;
    width: 740px;
    height: 109px;
        
}
.button_explain:nth-of-type(7){
    top: 4650px;
    left: 280px;
    width: 472px;
    height: 22px;
        
}
.button_explain:nth-of-type(8){
    top: 4880px;
    left: 285px;
    width: 324px;
    height: 22px;
        
}
.button_explain:nth-of-type(9){
    top: 5014px;
    left: 280px;
    width: 682px;
    height: 22px;    
}
/* .item_explain h3{
    position: absolute;
    color: #525252;
    font-size: 20px;
    white-space: nowrap;
    
}
.item_explain h3:nth-child(1){
    top: 3710px;
    left: 280px;
    width: 699px;
    height: 70px;

} */
/* .item2 h2{
    position: absolute;
    top: 3790px;
    left: 275px;
    width: 222px;
    height: 53px;
    font-size: 27px;
    border-radius: 30px;
    background-color: #7332FF;
    color: white;
    text-align: center;
    line-height: 53px;
} */
/* .item2_explain h3{
    position: absolute;
    top: 3860px;
    left: 280px;
    width: 727px;
    height: 69px;
    color: #525252;
    font-size: 20px;
    white-space: nowrap;

} */

/* .item3 h2{
    position: absolute;
    top: 3949px;
    left: 275px;
    width: 248px;
    height: 53px;
    font-size: 27px;
    border-radius: 30px;
    background-color: #7332FF;
    color: white;
    text-align: center;
    line-height: 53px;
} */


/* .item3 h2{
    position: absolute;
    top: 3949px;
    left: 275px;
    width: 248px;
    height: 53px;
    font-size: 27px;
    border-radius: 30px;
    background-color: #7332FF;
    color: white;
    text-align: center;
    line-height: 53px;
}
.item4 h2{
    position: absolute;
    top: 4064px;
    left: 275px;
    width: 260px;
    height: 53px;
    font-size: 27px;
    border-radius: 30px;
    background-color: #7332FF;
    color: white;
    text-align: center;
    line-height: 53px;
}
.item5 h2{
    position: absolute;
    top: 4265px;
    left: 275px;
    width: 91px;
    height: 53px;   
    font-size: 27px;
    border-radius: 30px;
    background-color: #7332FF;
    color: white;
    text-align: center;
    line-height: 53px;
}
.item6 h2{
    position: absolute;
    top: 4382px;
    left: 275px;
    width: 147px;
    height: 53px;
    font-size: 27px;
    border-radius: 30px;
    background-color: #7332FF;
    color: white;
    text-align: center;
    line-height: 53px;
}
.item7 h2{
    position: absolute;
    top: 4581px;
    left: 275px;
    width: 99px;
    height: 53px;
    font-size: 27px;
    border-radius: 30px;
    background-color: #7332FF;
    color: white;
    text-align: center;
    line-height: 53px;
}
.item8 h2{
    position: absolute;
    top: 4811px;
    left: 275px;
    width: 147px;
    height: 53px;
    font-size: 27px;
    border-radius: 30px;
    background-color: #7332FF;
    color: white;
    text-align: center;
    line-height: 53px;
}
.item9 h2{
    position: absolute;
    top: 4945px;
    left: 275px;
    width: 74px;
    height: 53px;    
    font-size: 27px;
    border-radius: 30px;
    background-color: #7332FF;
    color: white;
    text-align: center;
    line-height: 53px;
} */

/* 
.item3_explain h3{
    position: absolute;
    top: 4018px;
    left: 280px;
    width: 540px;
    height: 22px;
    color: #525252;
    font-size: 20px;    
    white-space: nowrap;

}
.item3_explain h3{
    position: absolute;
    top: 4018px;
    left: 280px;
    width: 540px;
    height: 22px;
    color: #525252;
    font-size: 20px;
    white-space: nowrap;
}


.item4_explain h3{
    position: absolute;
    top: 4127px;
    left: 277px;
    width: 366px;
    height: 22px;
    color: #525252;
    font-size: 20px;
    white-space: nowrap;

}


.item5_explain h3{
    position: absolute;
    top: 4334px;
    left: 280px;
    width: 453px;
    height: 22px;
    color: #525252;
    font-size: 20px;
    white-space: nowrap;

}

.item6_explain h3{
    position: absolute;
    top: 4450px;
    left: 280px;
    width: 740px;
    height: 109px;
    color: #525252;
    font-size: 20px;
    white-space: nowrap;

}



.item7_explain h3{
    position: absolute;
    top: 4650px;
    left: 280px;
    width: 472px;
    height: 22px;
    color: #525252;
    font-size: 20px;
    white-space: nowrap;

} */




/* .item8_explain h3{
    position: absolute;
    top: 4880px;
    left: 285px;
    width: 324px;
    height: 22px;
    color: #525252;
    font-size: 20px;
    white-space: nowrap;

}

.item9_explain h3{
    position: absolute;
    top: 5014px;
    left: 280px;
    width: 682px;
    height: 22px;    
    color: #525252;
    font-size: 20px;
    white-space: nowrap;

}
 */




